/*Configurações gerais*/
* {
    margin: 0;
    padding: 0;
}
body, html { 
    font: 16px "Lato", sans-serif;
    color: #777;
    height: 100%; /*necessário para causar o efeito que as imagens preenchem todo o espaço (efeito parallax)*/
}

/*Caixas de conteúdo*/
.contentbox {
    color: #777;
    background-color: #fff;
    text-align: justify;
    padding: 50px 80px;
}
.contentbox h3 {
    text-transform: uppercase;
    color: #111;
    text-align: center;
}
.contentbox p {
    margin-top: 20px;
}

/*Imagens parallax*/
.box1, .box2, .box3, .box4 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    opacity: 0.7;
}
.box1 {
    background-image: url(../img/imagem1.jpg);
}
.box2 {
    background-image: url(../img/imagem2.jpg);
}
.box3 {
    background-image: url(../img/imagem3.jpg);
}
.box4 {
    background-image: url(../img/imagem4.jpg);
}